.app-header {
  width: 100vw;
  height: 40px;
  background-color: #35a0ca;
  padding: 8px;

  .select-lang-container {
    gap: 4px;

    img {
      cursor: pointer;
      z-index: 1;
      padding: 2px;
      height: 24px;
      box-shadow: rgb(37 42 49 / 10%) 0px 0px 0px 1px inset;
      border-radius: 2px;
      transition: .2s;

      &:hover {
        background-color: white;
      }

    }
    
    .selected {
      background-color: white;
    }
  }
}