.app-header {
  z-index: 50;
  height: 45px;
  background-color: #34acef;

  // background-color: #4894cf;
  padding: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

  svg {
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 2px rgb(201, 201, 201));
    }
  }

  .select-lang-container {
    // gap: 4px;

    img {
      cursor: pointer;
      z-index: 1;
      padding:0 8px;
      height: 40px;
      border-radius: 4px;
      transition: .2s;

      &:hover {
        background-color: white;
      }

    }

    .selected {
      background-color: #ffffff40;
      // box-shadow: rgb(255 255 255 / 50%) 0 -5px 0px 0px inset;
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0;
    }
  }
}