.card-preview {
    position: absolute;
    border: 1px solid #3d8bd3;
    border-radius: 4px;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vibrate-1{animation:vibrate-1 4s ease-in-out 1s infinite forwards}
@keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}

.color-change-2x{animation:color-change-2x 2s linear infinite alternate both}

.color-change-3x{animation:color-change-3x 3s linear infinite alternate both}

.color-change-4x{animation:color-change-4x 6s linear infinite alternate both}

.color-change-5x{animation:color-change-5x 8s linear infinite alternate both}

@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}

@keyframes color-change-3x{0%{background:#19dcea}50%{background:#b22cff}100%{background:#ea2222}}

@keyframes color-change-4x{0%{background:#19dcea}33.3333%{background:#b22cff}66.666%{background:#ea2222}100%{background:#f5be10}}

@keyframes color-change-5x{0%{background:#19dcea}25%{background:#b22cff}50%{background:#ea2222}75%{background:#f5be10}100%{background:#3bd80d}}



.select-change-0{animation:select-change-0 2s linear infinite alternate both}
@keyframes select-change-0{0%{background:#5e98d3}100%{background:#38cddd}}

.select-change-1{animation:select-change-1 2s linear infinite alternate both}
@keyframes select-change-1{0%{background:#308dbb}100%{background:#5e98d3}}